language: python
dist: precise

python:
    - "2.7"

install:
    - pip install jupyter
    - wget https://github.com/hakimel/reveal.js/archive/master.zip
    - unzip master.zip
    - mv reveal.js-master reveal.js

script:
    - jupyter nbconvert enterprise_tutorial.ipynb --to slides --reveal-prefix=reveal.js --SlidesExporter.reveal_theme=serif

after_success: |
    if [ -n "$GITHUB_API_KEY" ]; then
    git checkout --orphan gh-pages
    mv enterprise_tutorial.slides.html index.html
    git add -f index.html img reveal.js
    git -c user.name='travis' -c user.email='travis' commit -m init
    git push -f -q https://jellis18:$GITHUB_API_KEY@github.com/jellis18/enterprise_tutorial_talk gh-pages
    fi
